<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-button expand="full" routerLink="/inside">Login</ion-button>
</ion-content>
