<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inside</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body style="background-color:powderblue;">
    <h1>Welcome</h1>
    <p>This home of ionic app</p>
    </body>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        Automatic logout in: {{ (logoutTimer | async)*1000 | date:'mm:ss'}}
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>